{%  extends 'hi5/main.html' %}

{% block content %}

<!-- -----content----- -->
<div class="content grid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<nav class="category">
					<ul class="categoty-list">
						<li class="categoty-item">
							<ul> 
								<h4>Size</h4>
								<li>S</li>
								<li>M</li>
								<li>L</li>
								<li>XL</li>
							</ul>
							
						<li class="categoty-item">
							<ul>
								<h4>Color</h4>
								<li>Black</li>
								<li>While</li>
								<li>Yellow</li>
								<li>Red</li>
							</ul>
							
						<li class="categoty-item">
							<ul>
								<h4>Type</h4>
								<li>T-shirt</li>
								<li>Shirt</li>
								<li>Jacket</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-10">
				<div class="row products">

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
