{%  extends 'hi5/main.html' %}

{% block content %}

<!-- -----content----- -->
<div class="content grid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<nav class="category">
					<ul class="categoty-list">
						<li class="categoty-item">
							<ul>
								<!-- <h4>Size</h4>
								{% for i in size_list %}
									<li>{{i}}</li>
								{% endfor %} -->
								<h4><a href="{% url '' %}">Size</a></h4>	
								{% for i in size_list %}
									<li><a href = "{% url '' %}?size={{i}}"class="nav-link">{{i}} </a></li>
								{% endfor %} 
							</ul>

						<li class="categoty-item">
							<ul>
								<!-- <h4>Color</h4>
								
								{% for i in color_list %}
									<li>{{i}}</li>
								{% endfor %} -->

								<h4><a href="{% url '' %}">Color</a></h4>	
								{% for i in color_list %}
									<li><a href = "{% url '' %}?color={{i}}"class="nav-link">{{i}} </a></li>
								{% endfor %} 
							</ul>

						<li class="categoty-item">
							<ul>
								<h4><a href="{% url '' %}">Type</a></h4>								
								{% for item in product_list %}
									<li><a href = "{% url '' %}?category={{item.categoryid.ID}}"  class="nav-link">{{item.categoryid.name}} </a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-10">
				<div class="row products">
					{% for item in product_list %}
						<div class="col-lg-3">
							<a class="card-link" href="{% url 'producitem' %}">
								<div class="card" style="width: 15rem; margin-bottom:20px">
									<div class="card-img">
										<img src="{{ item.thumbnail }}" class="card-img-top" alt="...">
									</div>
									<div class="card-body">
										<p class="card-text" style="font-size:16px;">{{ item.name }}</p>
										<p class="price" style="font-Size:14px;color:#000000a1;">{{ item.price }}.000</p>
									</div>
								</div>
							</a>
						</div>
			 		{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
