{%  extends 'hi5/main.html' %}

{% block content %}
<!-- -----content----- -->
<style>
	.size{
		color:black;
	}
	.size:hover{
		color:rgb(176, 170, 170);
	}
</style>
<div class="content grid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<form action="" method="POST">
				<nav class="category">
					<ul class="categoty-list">
						<li class="categoty-item">
							<a href = "{% url '' %}" class="size" style="text-decoration: none;"><h4>Size</h4></a>
							{% for i in size_list %}
							<a href = "{% url '' %}?size={{i}}" class="size-link" style="text-decoration: none;">{{i}} </a>
							{% endfor %} 
						<li class="categoty-item">
							<a href = "{% url '' %}" class="size" style="text-decoration: none;"><h4>Color</h4></a>
							{% for j in color_list %}
								<a href = "{% url '' %}?color={{j}}" class="size-link" style="text-decoration: none;">{{j}} </a>
							{% endfor %} 				
						<li class="categoty-item">
							<a href="{% url '' %}" class="size" style="text-decoration: none;"><h4>Category</h4></a>							
							{% for item in category_name_list %}
								<a href = "{% url '' %}?category={{item}}"  class="size-link"style="text-decoration: none;">{{item}} </a>
							{% endfor %}
						</li>
					</ul>
				</nav>
			</form>
			</div>
			<div class="col-lg-10">
				<div class="row products">
					{% for item in product_list %}
						<div class="col-lg-3">
							<a class="card-link" href="{% url 'producitem' %}?product={{item.name}}">
								<div class="card" style="width: 15rem; margin-bottom:20px">
									<div class="card-img">
										<img src="{{ item.thumbnail }}" class="card-img-top" alt="...">
									</div>
									<div class="card-body">
										<p class="card-text" style="font-size:16px;">{{ item.name }}</p>
										<p class="price" style="font-Size:14px;color:#000000a1;">{{ item.price }}.000</p>
									</div>
								</div>
							</a>
						</div>
			 		{% endfor %} 
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	const elements = document.querySelectorAll('.size-link');
	for (let i = 0; i < elements.length; i++) {
		elements[i].textContent = elements[i].textContent.toUpperCase();
	  }
	
</script>
{% endblock %}