{% load static %}
<style>
    .icon-img{
        width:32px;
        margin-right:25px;
    }
    .icon-img:hover{
        opacity:0.3;
    }
    .info-footer{
        color:white;
    }
    .info-footer:hover,.li-between:hover{
        color:#868686;
    }
    .li-between{
        font-size:14px;
        list-style: none;
        margin-top:10px;
        margin-left:110px;
        cursor: pointer;
    }
</style>
    <footer class="bg-dark text-white py-2" style="margin-top:74px">
        <div class="container" style="margin-Bottom:20px">
            <div class="row" style="margin">
            <div class="col-12 text-center">
            <hr class="bg-light">
                <h3 style="font-size:17px;">"HI 5 STORE"</h3>
                <hr class="bg-light">
            </div>
            <div class="col-4">
                <h4 style="font-size:13px;">FOLLOW HI 5</h4>
                <div class="d-flex justify-content-around align-items-center mt-4">
                    <div style="margin-right:150px; width=25px;">
                        <a href=""><img class="icon-img" style="border-radius:9px;" src="https://cdn-icons-png.flaticon.com/512/1051/1051309.png"></img></a>
                        <a href=""><img class="icon-img" src="https://cdn-icons-png.flaticon.com/512/1400/1400829.png"></img></a>
                        <a href=""><img class="icon-img" style="border-radius:9px;" src="https://cdn-icons-png.flaticon.com/512/5968/5968812.png"></img></a>
                        <a href=""><img class="icon-img " src="https://cdn-icons-png.flaticon.com/512/254/254412.png"></img></a>
                    </div>
                </div>
                <form class="mt-4">
                    <div class="form-group" style="display: flex; align-items: center;">
                        <input type="email" class="form-control-sm" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 10px;">Send</button>
                      </div>
                </form>
                <p class="mt-4" style="font-size:14px">Hotline: 0912345678 - 0987654321</p>
                <li style="font-size:14px">Email: hi5storesupport@gmail.com</li>
            </div>
            <div class="col-4">
                <h4 style="font-size:13px; margin-bottom:30px; margin-left:110px">CHI NHÁNH CỬA HÀNG</h4>
                    <li class="li-between">GIỚI THIỆU VỀ HI 5</li>
                    <li class="li-between">TUYỂN DỤNG</li>
                    <li class="li-between">TIN THỜI TRANG</li>
                    <li class="li-between">HỢP TÁC NHƯỢNG QUYỀN</li>
                    <li class="li-between">LIÊN HỆ</li>
                <h4 style="font-size:13px;margin-top:37px; margin-left:110px;">© 2023 <a href="" style="text-decoration: none;">HI5<a> ALL RIGHT RESERVED.</h4>
            </div>
            <div class="col-4">
                <ul class="list-unstyled mt-4">
                    <a href="" class="text-decoration-none info-footer"style="font-size:15px;"><li style="margin-Bottom:20px; margin-left:194px">TÌM KIẾM</li></a>
                    <a href="" class="text-decoration-none info-footer"style="font-size:15px;"><li style="margin-Bottom:20px; margin-left:194px">CHÍNH SÁCH ĐỔI TRẢ</li></a>
                    <a href="" class="text-decoration-none info-footer"style="font-size:15px;"><li style="margin-Bottom:20px; margin-left:194px">CHÍNH SÁCH BẢO MẬT</li></a>
                    <a href="" class="text-decoration-none info-footer"style="font-size:15px;"><li style="margin-Bottom:20px; margin-left:194px">ĐIỀU KHOẢN DỊCH VỤ</li></a>
                </ul>
            </div>
            </div>
        </div>
        </footer>