{% load static %}
<div class="header grid">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <a href="#"><img src="./../../../static/images/logo.png"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav m-auto my-2 tabs">
          <div class="nav-link">
            <a href="{% url '' %}">Top</a>
          </div>
          <div class="nav-link">
            <a href="{% url '' %}">Bottom</a>
          </div>
          <div class="nav-link">
            <a href="{% url 'guide' %}">Guide</a>
          </div>
          <div class="nav-link">
            <a href="{% url 'contact' %}">Contact</a>
          </div>
          <div class="line"></div>
        </div>

      <div class="nav-icon">
          <!-- search -->
          <a href="#" class="search"><i class="fa-solid fa-magnifying-glass"></i></a>
          <!-- profile -->
          <a class='user' href="{% url 'user' %}"><i class="fa-solid fa-user"></i></a>
          <!-- shopping-bag -->
          <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    
      </div>
      <!-- --------modal_search------ -->
      <div class="modal">
        <div class="modal-overlay">
          <div class="fechar">
            <a href="#">Close</a> 
          </div>
          <div class="modal-body">    
            <div class="container">
              <div class="row justify-content-around">
                <form action="/search/" method="get" class="form-check-inline search-bar col-md-8">
                  <input class="form-control form-input" type="search" placeholder="SEARCH NOW" name="query" id="query" aria-label="Search" required>
                  <button class="btn" type="submit" value="type-users"><i class="bi bi-search"></i></button>
                </form>
              </div>
              
              <!-- suggest -->
            </div> 
            <div class="suggest">
              <h3>Suggest</h3>
              <ul>
                <li>Suggest 1</li>
                <li>Suggest 2</li>
                <li>Suggest 3</li>
              </ul>
            </div>
          </div>
        </div>  
      </div>
    </nav>
  </div>
</div>