<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop Hi 5</title>
  <!-- icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
  <!-- bootstrap -->
  <link rel="stylesheet" href="{% static '/css//bootstrap//bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css//user.css' %}">
  <link rel="stylesheet" href="{% static '/css//style.css' %}">
  <link rel="stylesheet" href="{% static '/css//base.css' %}">
  <!-- js -->
</head>

<body>
  {% include 'hi5/navbar.html' %}

  {% block content %}
  <div class="modal-body-customer">
    <div class="row">
      <div class="col-2">
        <img src="{{request.user.account.profile_pic.url}}" alt="" class="img-user">
      </div>
      <div class="col-4">
        <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Customer<i class="bi bi-caret-down-fill"></i></button>
          <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'logout' %}" class="logout-button" style="text-decoration: none;"><i
                class="bi bi-box-arrow-right"></i>Log Out</a>
          </div>
        </div>
        <p>{{request.user.account.name}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <form>
          <div class="mb-3 title-item">
            <h4>Full name</h4>
            <div class="list-item list-item-color">
              <p>{{request.user.account.name}}</p>
            </div>
          </div>
          <div class="mb-3 title-item">
            <h4>Phone number</h4>
            <div class="list-item list-item-color">
              <p>{{request.user.account.phone}}</p>
            </div>
          </div>
          <div class="mb-3 title-item">
            <h4>Address</h4>
            <div class="list-item list-item-color">
              <p>{{request.user.account.address}}</p>
            </div>
          </div>
          <div class="mb-3 title-item">
            <h4>Email</h4>
            <div class="list-item list-item-color">
              <p>{{request.user.email}}</p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-5">
        <form>
          <div class="mb-3 title-item">
            <h4>Username</h4>
            <div class="list-item list-item-color list-item-size">
              <p>{{request.user}}</p>
            </div>
          </div>
          <div class="mb-3 title-item">
            <h4>Password</h4>
            <div class="list-item list-item-color list-item-size">
              <p>***********</p>
            </div>
          </div>

        </form>
      </div>
    </div>
    <button type="submit" onclick="window.location.href='{% url 'password' %}'"
      class="btn btn-primary btn-sm btn-edit"><i class="fa-solid fa-paper-plane-top"></i>Edit</button>
    <button type="submit" onclick="window.location.href='{% url 'password' %}'"
      class="btn btn-primary btn-sm btn-edit"><i class="fa-solid fa-paper-plane-top"></i>Change password</button>
  </div>
  {% endblock %}



  <!-- -----footer----- -->
  {% include 'hi5/footer.html' %}
  <script src="{% static '/js//main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
</body>

</html>