*{
    box-sizing: inherit;
}
.grid{
    width: 1290px;
    max-width:100%;
    margin:0 auto;
}
html{
    box-sizing: border-box;
}
.grid{
    width:1250px;
    max-width:100%;
    margin: 0 auto;
}
.grid__full-width{
    width:100%;
}