.content-guide{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height:554px;
}
.guide-item{
    display: flex;
    display: block;
    margin:auto;
}
.guide-item li{
    list-style: none;
    margin-top: 34px;
    text-align: center;
  
}
.guide-item li a:hover{
    color:#aaaaaa ;
    transition: 0.2s;
}
.guide-item li a{
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-decoration: none;
}