* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-login {
    height:554px;
    display: flex;
    padding-top:70px;
    justify-content: center;
    
}

.login h1{
    font-size:28px;
    font-weight:700;
    margin-bottom: 26px;
}
.form-size{
    height: 54px;
    background-color: #ededed;
    border:none;
    transition: 0.4s;
}
.form-size:focus{
    outline: none;
    box-shadow: 0;
    background-color: #ffffff;
    box-shadow: 0 0 0 0.04rem rgba(0, 0, 0, 0.25);
    transition: 0.3s;
   
}
.form-size::placeholder{
    padding-left: 10px;
    font-size: 15px;
}
.form-control{
    border-radius: 0;
}
.login {
    width: 580px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    
}
.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 26px;
    
}
.form-check-label{
    font-size: 20px;
}
.button input[type="submit"] {
    font-size: 18px;
    margin-top: 15px;
}
.form-check-input{
    margin-top: 10px;
}
.btn-br{
    background-color:rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px 40px;
    border-color: rgba(69, 68, 68, 0.526);
    
}
.btn-br[value="LOGIN"]{
    color: black;
}
.btn-br:hover{
    background-color: rgba(176, 173, 173, 0.56);
    border-color: rgba(69, 68, 68, 0.526);
}

/* -------footer login------ */
.login-footer{
    padding:0 136px;
    display: flex;
    justify-content:space-between;
}
.footer-text{
    font-size: 13px;
    margin-top: 16px;
}
.footer-text p{
    margin-left: 5px;
    color:rgba(53, 53, 53, 0.656) ;
}
.footer-text p a,.footer-text a{
    color:rgba(0, 0, 0, 0.679);
    font-weight: 500;
    text-decoration: none;
}
.footer-text p a{
    margin-left: 3px;
}