.mb-3 p{
    color: #999;
    font-size: 11px;
}
.block-center{
    background-color: rgba(0, 0, 0, 0.736);
    width: 280px;
    height: 4px;
    margin: 25px 0;
  
}
.price{
    font-size: 26px;
    margin:30px 0;
    color: #444;

}
.size span{
    display: inline-block;
    width: 62px;
    text-align: center;
    padding: 8px 4px;
    margin-right:6px;
    border: 1px solid #b1b1b185;
    color:black;
}
.size span:hover{
    background-color: rgba(188, 185, 185, 0.368);
    cursor: pointer;
    transition:0.2s;
}
.size-guide{
    margin:10px 0 4px 0;
    
    
}
.size-guide i{
    margin-top: 5px;
    margin-right: 4px;
}
.size-guide p{
    cursor: pointer;
}
.size-guide p:hover{
    color: rgba(0, 0, 0, 0.67);
}
/* modal-product */
.modal-product
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    display: none;  
    
}
@keyframes enlargeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.modal-overlay-product{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 48, 48, 0.485);

}
.close-product a{
    color: #fff;
}
.modal-body--product{
    padding-left: 66px;
    width: 600px;
    display: flex;
    margin: auto;
    display: block;
    animation: enlargeIn linear 0.2s;
    
}
.modal-body--product img{
    border: 1px solid #686784;
}
.description h3{
    font-size: 22px;
    color: black;
}
.description p{
    font-size:17;
    color: rgb(86, 86, 86);
}