*{
    margin: 0;
    padding: 0;
}
/* ---------header--------- */
.header
{
padding-top:1.7%;
}
.navbar{
    padding: 0 0;
}
.navbar img{
    width: 80px;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler i{
    font-size: 30px;
    
}
.nav-link{

    margin-left: 44px;
}
.nav-link a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    
}
.nav-link a:hover,.nav-icon a i:hover{
    color:#916841;
}
/* .tabs .line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #000000;
    transition: all 0.2s ease;
} */

.nav-link.active::after{
    content: '';
    width: 100%;
    height:2px;
    background: #000000;
    display: block;
    margin: auto;
    animation: fadeIn linear 0.2s;

}
@keyframes fadeIn {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
.nav-icon a i{
    font-size: 28px;
    margin-left:20px;
    color: #000000;
}


@media(max-width:1000px){
    .header
    {
        padding: 10px 0;
    }
    
    .nav-icon{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

    }
    .nav-link.active::after{
        display: none;
    }
    .nav-link.active a{
        color:#916841 ;
        transition: 1s;
        
    }
    .nav-link{
        margin:0;
        margin-top: 20px;
    }
    
}

.nav-icon a i{
    font-size: 28px;
    margin-left:20px;
    color: #000000;
}
/* ---------layout search------------ */
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; 
    display: none;  
    
}
@keyframes enlargeIn {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.modal-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
.fechar{
    text-align: end;
    margin-top:30px;
    margin-right:30px;
    
}
.fechar a{
    color: #000000;
    text-decoration: none;
}
.modal-body{
    background-color: rgb(255, 255, 255);
    width: 600px;
    display: flex;
    margin: auto;
    display: block;
    animation: enlargeIn linear 0.6s;
}
/* .form-control{
    border:none;
    border-radius:0;
    border-bottom:2px solid #000000;
    width:560px;
   
}
.form-control::placeholder{
    font-size: 27px;
} */
.btn{
    margin-left: 4px;
    margin-top: 3px;
    
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.form-input:focus
{
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid #000000;
}
.search-bar button i{
    font-size: 24px;
    color: #000000;
}
.search-bar{
    width:100%;
    max-width:700px;

}
.search-bar input{
    border:none;
    border-radius:0;
    border-bottom:2px solid #000000;
    height:50px;
    width:560px;
    padding-top: 10px;
    
}
.form-input::placeholder{
    font-size: 36px;
    text-align: center;
    font-weight:500;
    font-family: abchanel-corpo,Arial,Helvetica,sans-serif;
    color: #8e8e8e;
    background-color: #ffffff;
}
/* gợi ý sản phẩm */
.suggest{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 15px;
}
.suggest h3{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.71);
}
.suggest ul li{
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
    font-weight:500;
}

.block{
    background-color: aqua;
    width: 100%;
    height: 200px;
}
.block2{
    background-color: rgb(234, 15, 15);
    width: 100%;
    height: 200px;
}

/* ----------content----------- */
.content{
    padding-top: 89px;
}
.categoty-item{
    list-style: none;
}
.size-link:hover{
    color:#1b1f9f
}
.categoty-item {
    margin-bottom:30px;
    
}
.categoty-item h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
}
.card-img{
    height: 250px;
}
.card img{
    width: 100%;
}
.card-link
{
    text-decoration: none;
    
}
.card-body p{
    color: #000000;
}
.price
{
    cursor:text;
   color:#000000a1
}
/* -----footer----- */
.footer{
    margin-top: 45px;
    text-align: center;

}
.footer h3{
    font-size: 15px;
}
.product-item{
    margin-top:28px;
    
}
.icon-img{
    margin-left: -20px;
    
}